body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("img1.jpg");
  background-size: cover;
  background-position: center;
  color: transparent; /* Set text color to transparent */
  font-family: Tahoma;
  font-size: 16px;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px) brightness(70%);
  z-index: -1; /* Place the background behind other content */
}

.content {
  padding: 20px; /* Adjust padding based on your design */
}

/* Style the text within a specific element (for example, a <h1> element) */
body {
  color: #fff7f7; /* Set the original text color */
  
}



h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #ffffff;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

    .centered-link {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed for vertical spacing */
    color: white;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      background: #b68234;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #f4c803,
                  0 0 25px #bd9d0b,
                  0 0 50px #f4e403,
                  0 0 100px #d5cf1e;
    }

    #sign-up {
      background: #b68234;
      color: #fff;
    }

    #sign-up:hover {
      background: #b68234;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #f4c803,
                  0 0 25px #bd9d0b,
                  0 0 50px #f4e403,
                  0 0 100px #d5cf1e;
    }


    .login-box {
      text-align: center;
      position:absolute;
      background: rgba(0,0,0,.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 20px;
    }
    
    .login-box h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
    }
    
    .login-box {
      position: relative;
    }
    
    .login-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    .login-box label {
      position: absolute;
      top:0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
    
    .login-box :focus ~ label,
    .login-box :valid ~ label {
      top: -20px;
      left: 0;
      color: #f68e44;
      font-size: 12px;
    }
    
    .login-box a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #b79726;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 20px;
      letter-spacing: 8px
    }
    
    .login-box a:hover {
      background: #f49803;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #f4c803,
                  0 0 25px #bd9d0b,
                  0 0 50px #f4e403,
                  0 0 100px #d5cf1e;
    }
    
    .login-box a span {
      position: absolute;
      display: block;
    }
    
    .login-box a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #f4c003);
      animation: btn-anim1 1s linear infinite;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
    }
    
    .login-box a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #f4bc03);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
    }
    
    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
    }
    
    .login-box a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #f4dc03);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
    }
    
    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
    }
    
    .login-box a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #f4b003);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
    }
    
    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
    }
    